<div class="container">
    <h1 class="title">User</h1>
    <!-- <a href="#" routerLink="/user/create/" class="btn btn-success">+ Add A Plan</a> --> -->
    <!-- <a href="#" routerLink="/user/create/" class="btn btn-success">+ Add A Device</a> --> -->
    <table class="table table-bordered table-striped table-hover custom-text">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Plans</th> -->
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor="let user of users">
                <td>{{ user.userName }}</td>
                <td>{{ user.email }}</td>
                <!-- <td>{{ user.plans }}</td> -->
                
                <td>
                    <!-- <a href="#" [routerLink]="['/passenger/', passenger.id]" class="btn btn-primary">Details</a> -->
                    <!-- <a href="#" [routerLink]="['/Passengers/edit/', passenger.id]" class="btn btn-info">Edit</a> -->
                    <a href="#" [routerLink]="['/user/', user.id]" class="btn btn-info">Plans</a>
                    <!-- <a [routerLink]="['user']" [queryParams]="{planId: plan.id}">Edit info</a> -->
                    <button type="button"  class="btn btn-secondary">Devices</button> 
                    <button type="button"  class="btn btn-danger">Delete</button> 
                    <!-- (click)="deletePassenger(passenger.id)" -->
                </td>
                
            </tr>
        </tbody>
    </table>
</div>